@model Homework.Models.CityModel

@{
    ViewBag.Title = "Delete";
}

<div class="crud">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>Are you sure you want to delete your favorite city - @Html.DisplayFor(model => model.Name)?</h2>

        <input type="submit" value="Delete" class="btn btn-default" />
        <br />
        @Html.ActionLink("Back to List", "Index")
    }
</div>
