@model IEnumerable<Homework.Models.CityModel>

@{
    ViewBag.Title = "Index";
}

<div id="cities" class="flexbox">
    <div class="flex">
        <div><span>Favorite cities</span></div>
        <div>@Html.ActionLink("Add city", "Create", null, new { @class = "btn btn-default" })</div>
    </div>
    <hr>

    @foreach (var item in Model)
    {
        <div class="flex">
            <div>
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div>
                @Html.ActionLink("Edit  ", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>


