@model Homework.Models.WeatherModel

@{
    ViewBag.Title = "Forecast weather";
}

<div>
    @using (Ajax.BeginForm("Weather", "Home", new AjaxOptions { UpdateTargetId = "forecast-weather", HttpMethod = "Post" }))
    {
        <input list="cities" type="text" value="Search city" name="city" class="form-control input-sm search" onclick="this.value = ''" />
        <datalist id="cities">
            <option value="Kiev" />
            <option value="Lviv" />
            <option value="Kharkiv" />
            <option value="Odessa" />
            <option value="Dnepr" />
        </datalist>
        @Html.Label("Count days:")
        @Html.DropDownList("countDays", new SelectList(new int[] { 1, 3, 7 }), new { @class = "form-contol search" })

        <input type="submit" value="Выбрать" class="btn btn-default search" />
    }
</div>
<br />
<div id="forecast-weather"></div>

