body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../fonts/background-opacity.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input.search{
    display: inline;
}

#inline {
    display: inline-block;
}

p img table {
    display: inline-block;
}

div.detail-weather-temperature {
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    color: navy;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.7);
    display: inline-block;
    vertical-align: top;
    height:200px;
    padding:5px;
}

.details {
    border-radius: 5px;
    vertical-align: top;
    display: inline-block;
    color: lightblue;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255, 0.5);
    width: 65vw;
    min-width: 800px;
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
}

.details th {
    vertical-align: top;
    color: ghostwhite;
    font-size: 10pt;
    text-align: center;
    white-space: normal;
}

div.detail-weather {
    background-color: white;
}

footer{
    text-align:center;
    color:white;
}

.navbar{
    background-color:rgba(0, 255, 0, 0.5);
}

#navbar {
    color: white;
    font-size: 20pt;
}

#all {
    white-space: nowrap;
}

.navbar-inverse{
    border: none;
}

caption {
    font-size: xx-large;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

#log-table {
    color: lightgoldenrodyellow;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
}

#log-table th {
    vertical-align: top;
    color: ghostwhite;
    font-size: 10pt;
    text-align: center;
    white-space: normal;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#cities-table {
    color: lightgoldenrodyellow;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255, 0.5);
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    max-width: 40vw;
    margin:auto;
}

#cities-table th {
    vertical-align: top;
    color: ghostwhite;
    font-size: 10pt;
    text-align: center;
    white-space: normal;
}

.crud {
    border-radius: 5px;
    vertical-align: top;
    display: inline-block;
    color: lightblue;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255, 0.5);
    width: 100%;
    min-width: 800px;
    padding: 5px;
    border-collapse: collapse;
    text-align: left;
}

.crud h2{
    font-size: 20pt;
    color: ghostwhite;
}

.crud a{
    color: ghostwhite;
}